services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    environment:
      TZ: Asia/Seoul
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    depends_on:
      - certbot
    networks:
      - food-keeper
  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
  spring:
    image: seoarc/food-keeper-server:latest
    container_name: food-keeper-api-server
    restart: on-failure:3
    environment:
      SPRING_PROFILES_ACTIVE: dev
      TZ: Asia/Seoul
    ports:
      - "8080:8080"
    networks:
      - food-keeper
    volumes:
      - ./:/app/local
      - ./logs:/var/log/spring

networks:
  food-keeper:
    driver: bridge