spring:
  config:
    activate:
      on-profile: local
    import: aws-secretsmanager:dev/kitchenlog

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

  datasource:
    first:
      jdbc-url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
      username: sa
      password:

  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        hbm2ddl:
          auto: create
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true

springdoc:
  swagger-ui:
    url: /v3/api-docs
    path: /v3/api-docs
    disable-swagger-default-url: true
  api-docs:
    enabled: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

logging:
  level:
    com.foodkeeper: debug

jwt:
  secret-key: testtesttesttesttesttesttesttest

cloud:
  aws:
    s3:
      bucket: ${BUCKET_NAME}
    credentials:
      access-key: ${CLOUD_ACCESS_KEY}
      secret-key: ${CLOUD_SECRET_KEY}
    region:
      static: ${CLOUD_REGION}
    stack:
      auto: false

custom:
  s3:
    endpoint: ${NAVER_STORAGE_URL}

clova:
  url: ${CLOVA_MODEL_URL}
  api-key: ${CLOVA_API_KEY}

client:
  url: http://localhost:8080

firebase:
  key: ${FIREBASE_KEY}

rate-limiter:
  capacity: 5
  refill-token-amount: 5
  refill-duration-seconds: 600
  cache-max-size: 2000